<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="FinTrakBankingDocumentsContext" connectionString="data source=192.168.10.8\FINTRAKSQL;initial catalog=FinTrakBankingDocuments;user id=devteam;password=Password10$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FinTrakBankingContext" connectionString="data source=192.168.10.8\FINTRAKSQL;initial catalog=FinTrakBanking_Live;user id=devteam;password=Password10$;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FinTrakBankingStagingContext" connectionString="data source=192.168.10.8\FINTRAKSQL;initial catalog=FinTrakBankingStaging;user id=devteam;password=Password10$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="tokenExpiryHour" value="10" />
    <add key="EmailServiceInterval" value="10" />
    <add key="cultureInfo" value="en-GB" />
    <add key="messageSubject" value="FIRSTBANKONLINE" />
    <add key="smtpClient" value="smtp.gmail.com" />
    <add key="enableSsl" value="true" />
    <!--<add key="smtpPort" value="250" />-->
    <add key="smtpPort" value="587" />
    <add key="PasswordExpiredDays" value="90" />
    <add key="sendErrorMail" value="false" />
    <add key="Username" value="fintrakdevops@gmail.com" />
    <add key="Password" value="P@ssword10$" />
    <add key="SupportEmailAddr" value="fintrakdevops@gmail.com" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
