<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <nlog>
    <targets>
      <target name="t1" type="File" fileName="c:\Fintrak_Credit360_Service_Log\LoanRepaymentsService_Log.txt" />
      <target name="t2" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="t1,t2" />
    </rules>
  </nlog>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.194" newVersion="4.2.0.194" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.28.0" newVersion="8.0.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-107.3.0.0" newVersion="107.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <connectionStrings>


    <add name="FinTrakBankingContext" connectionString="DATA SOURCE=172.16.248.45:1521/fttrak360;PASSWORD=sqluser10$;PERSIST SECURITY INFO=True;USER ID=FINTRAKBANKING" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="FinTrakBankingDocumentsContext" connectionString="DATA SOURCE=172.16.248.45:1521/fttrak360;PASSWORD=sqluser10$;PERSIST SECURITY INFO=True;USER ID=FINTRAKBANKINGDOCUMENTS" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="FinTrakBankingStagingContext" connectionString="DATA SOURCE=172.16.248.45:1521/fintrakdb;PASSWORD=password2;PERSIST SECURITY INFO=True;USER ID=FINTRAKSTAGING" providerName="Oracle.ManagedDataAccess.Client" />


    <!--<add name="FinTrakBankingContext" connectionString="DATA SOURCE=FTTRAK360;PASSWORD=sqluser10$;PERSIST SECURITY INFO=True;USER ID=FINTRAKBANKING" providerName="Oracle.ManagedDataAccess.Client" />-->


    <!--<add name="FinTrakBankingContext" connectionString="DATA SOURCE=192.168.10.8:1521/pdb01;PASSWORD=Password10$;PERSIST SECURITY INFO=True;USER ID=FINTRAKBANKING" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="FinTrakBankingContext" connectionString="DATA SOURCE=FTTRAK360;PASSWORD=sqluser10$;PERSIST SECURITY INFO=True;USER ID=FINTRAKBANKING" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="FinTrakBankingDocumentsContext" connectionString="DATA SOURCE=FTTRAK360;PASSWORD=sqluser10$;PERSIST SECURITY INFO=True;USER ID=FINTRAKBANKINGDOCUMENTS" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="FinTrakBankingStagingContext" connectionString="DATA SOURCE=172.16.248.45:1521/fintrakdb;PASSWORD=password2;PERSIST SECURITY INFO=True;USER ID=FINTRAKSTAGING" providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>

  <appSettings>
    <add key="tokenExpiryHour" value="10" />
    <add key="emailServiceInterval" value="10" />
    <add key="cultureInfo" value="en-GB" />
    <add key="messageSubject" value="FIRSTBANKONLINE" />
    <add key="PasswordExpiredDays" value="90" />
    <add key="sendErrorMail" value="false" />



    <add key="smtpClient" value="172.16.27.153" />
    <add key="smtpPort" value="25" />
    <add key="requireCredential" value="false" />
    <add key="Username" value="noreply@firstbanknigeria.com" />
    <add key="Password" value="P@ssword10$" />
    <add key="enableSsl" value="false" />


    <!--<add key="smtpClient" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="Username" value="fintrakdevops@gmail.com" />
        <add key="enableSsl" value="true" />
    <add key="Password" value="P@ssword10$" />-->


    <add key="SupportEmailAddr" value="fintrakdevops@gmail.com" />
    <add key="isTestEmail" value="false" />
    <add key="testingEmails" value="adeyemi.adesanya@firstbanknigeria.com" />
    <add key="emailDisplayName" value="Access Bank Fintrak Credit 360" />
    <add key="exceptionReportingEmails" value="isah.yarima@yahoo.com" />
    <add key="alertMessageLoggingTime" value="01/01/0001 17:48:00" />
    <add key="SLAEscalationIntervalInHours" value="1" />

    <add key="BankingOracleDatabaseUsername" value="FINTRAKBANKING" />
    <add key="DocumentOracleDatabaseUsername" value="FINTRAKBANKINGDOCUMENTS" />
    <add key="StagingOracleDatabaseUsername" value="FINTRAKSTAGING" />
    <add key="aspnet:RoslynCompilerLocation" value="roslyn" />

  </appSettings>

</configuration>