<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="18.6.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="18.3.0" targetFramework="net461" />
  <package id="Topshelf" version="4.2.0" targetFramework="net461" />
  <package id="Topshelf.Ninject" version="0.4.0.0" targetFramework="net461" />
  <package id="Topshelf.NLog" version="4.2.0" targetFramework="net461" />
</packages>