<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="FinTrakBankingContext" connectionString="Server=FINT360CL\FINT360CL;Database=FINTRAKBANKING;User=sa;Password=password10$;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="FinTrakBankingDocumentsContext" connectionString="Server=FINT360CL\FINT360CL;Database=FINTRAKBANKINGDOCUMENTS;User=sa;Password=password10$;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="FinTrakBankingStagingContext" connectionString="Server=FINT360CL\FINT360CL;Database=FINTRAKSTAGING;User=sa;Password=password10$;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />

    <!--<add name="FinTrakBankingContext" connectionString="Server=10.1.7.54;Database=GOLIVE;User=sqluser;Password=password10$;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    --><!--<add name="FinTrakBankingContext" connectionString="Server=10.1.7.54;Database=FINTRAKBANKINGAccess;User=sqluser;Password=password10$;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />--><!--
    <add name="FinTrakBankingDocumentsContext" connectionString="Server=10.1.7.54;Database=FINTRAKBANKINGDOCUMENTSAccess;User=sqluser;Password=password10$;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="FinTrakBankingStagingContext" connectionString="Server=10.1.7.54;Database=FINTRAKSTAGINGAccess;User=sqluser;Password=password10$;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>

  <appSettings>
    <add key="tokenExpiryHour" value="10" />
    <add key="emailServiceInterval" value="10" />
    <add key="cultureInfo" value="en-GB" />
    <add key="messageSubject" value="ACCESBANKONLINE" />
    <add key="PasswordExpiredDays" value="90" />
    <add key="sendErrorMail" value="false" />

    <add key="smtpClient" value="10.1.13.34" />
    <add key="smtpPort" value="25" />
    <add key="requireCredential" value="false" />
    <add key="Username" value="noreply@accessbankplc.com" />
    <add key="Password" value="P@ssword10$" />
    <add key="enableSsl" value="false" />

    <add key="SupportEmailAddr" value="fintrakdevops@gmail.com" />
    <add key="isTestEmail" value="true" />
    <add key="testingEmails" value="augustine.nwaka@fintraksoftware.com" />
    <add key="emailDisplayName" value="Access Bank Fintrak Credit 360" />
    <add key="exceptionReportingEmails" value="augustine.nwaka@fintraksoftware.com,adesola.abiola@fintraksoftware.com" />
    <add key="alertMessageLoggingTime" value="01/01/0001 17:48:00" />
    <add key="SLAEscalationIntervalInHours" value="1" />
    <add key="IsOracleDatabase" value="2" />
    
    <add key="BankingOracleDatabaseUsername" value="FINTRAKBANKING" />
    <add key="DocumentOracleDatabaseUsername" value="FINTRAKBANKINGDOCUMENTS" />
    <add key="StagingOracleDatabaseUsername" value="FINTRAKSTAGING" />
    <add key="AlertOracleDatabaseUsername" value="FintrakDW" />
    <add key="aspnet:RoslynCompilerLocation" value="roslyn" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <nlog>
    <targets>
      <target name="t1" type="File" fileName="c:\Fintrak_Credit360_Service_Log\LoanRepaymentsService_Log.txt" />
      <target name="t2" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="t1,t2" />
    </rules>
  </nlog>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  
</configuration>
