<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LiveRequestInvokerSoap" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="LiveRequestInvokerSoap1" />
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IAuthWrapper" />
        <binding name="FirstCentralNigeriaWebServiceSoap" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap1" />
        <binding name="ServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap12">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="WeatherSoap" />
        <binding name="ServiceSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap2" />
        <binding name="FirstCentralNigeriaWebServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap3" />
        <binding name="FirstCentralNigeriaWebServiceSoap4" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="LiveRequestInvokerSoap2" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap5" />
        <binding name="LiveRequestInvokerSoap3" />
        <binding name="LiveRequestInvokerSoap4">
          <security mode="Transport" />
        </binding>
        <binding name="LiveRequestInvokerSoap5" />
        <binding name="FirstCentralNigeriaWebServiceSoap6">
          <security mode="Transport" />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap7" />
        <binding name="FirstCentralNigeriaWebServiceSoap8">
          <security mode="Transport" />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap9" />
      </basicHttpBinding>
      <customBinding>
        <binding name="LiveRequestInvokerSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="FirstCentralNigeriaWebServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="LiveRequestInvokerSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="LiveRequestInvokerSoap122">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx" binding="basicHttpBinding" bindingConfiguration="LiveRequestInvokerSoap" contract="CRCWebService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx" binding="customBinding" bindingConfiguration="LiveRequestInvokerSoap12" contract="CRCWebService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap12" />
      <endpoint address="http://ho-bespoke07.nigeria.firstbank.local/FbnAlertWS/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="FbnAlertWS.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://ho-bespoke07.nigeria.firstbank.local/EntrustWrapper/AuthWrapper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthWrapper" contract="TwoFactorAuthService.IAuthWrapper" name="BasicHttpBinding_IAuthWrapper" />
      <endpoint address="https://online.firstcentralcreditbureau.com/firstcentralnigeriawebservice/FirstCentralNigeriaWebService.asmx" binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap" contract="XDSWebService.FirstCentralNigeriaWebServiceSoap" name="FirstCentralNigeriaWebServiceSoap" />
      <endpoint address="https://esbentuser.accessbankplc.com:7085/Service?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="TwoFactorAuthSoapService.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://online.firstcentralcreditbureau.com/firstcentralNigeriaWebservice/FirstCentralNigeriaWebService.asmx" binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap4" contract="TestESBFirstCentralService.FirstCentralNigeriaWebServiceSoap" name="FirstCentralNigeriaWebServiceSoap1" />
      <endpoint address="https://10.111.13.47:7082/firstcentral?wsdl" binding="customBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap121" contract="TestESBFirstCentralService.FirstCentralNigeriaWebServiceSoap" name="FirstCentralNigeriaWebServiceSoap121" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/LiveRequestInvoker.asmx" binding="basicHttpBinding" bindingConfiguration="LiveRequestInvokerSoap2" contract="ESBCRCService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap1" />
      <endpoint address="https://10.111.13.47:7082/crcweb?wsdl" binding="customBinding" bindingConfiguration="LiveRequestInvokerSoap121" contract="ESBCRCService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap121" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/LiveRequestInvoker.asmx" binding="basicHttpBinding" bindingConfiguration="LiveRequestInvokerSoap4" contract="CRCWebServiceNew.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap2" />
      <endpoint address="http://10.111.23.13:7010/crcweb" binding="customBinding" bindingConfiguration="LiveRequestInvokerSoap122" contract="CRCWebServiceNew.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap122" />
      <endpoint address="https://uat.firstcentralcreditbureau.com/firstcentralNigeriaWebservice/FirstCentralNigeriaWebService.asmx" binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap6" contract="FirstCentralCRB.FirstCentralNigeriaWebServiceSoap" name="FirstCentralNigeriaWebServiceSoap2" />
      <endpoint address="https://online.firstcentralcreditbureau.com/firstcentralNigeriaWebservice/FirstCentralNigeriaWebService.asmx" binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebServiceSoap8" contract="FCBCreditBureau.FirstCentralNigeriaWebServiceSoap" name="FirstCentralNigeriaWebServiceSoap3" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.28.0" newVersion="8.0.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-107.3.0.0" newVersion="107.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="aspnet:RoslynCompilerLocation" value="roslyn" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>