<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XDSNigeriaWebServiceSoap" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="XDSNigeriaWebServiceSoap1" />
        <binding name="LiveRequestInvokerSoap" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="LiveRequestInvokerSoap1" />
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="LiveRequestInvokerSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://online.xdscreditbureau.com/XdsNigeriaWebservice/XDSNigeriaWebService.asmx" binding="basicHttpBinding" bindingConfiguration="XDSNigeriaWebServiceSoap" contract="XDSWebService.XDSNigeriaWebServiceSoap" name="XDSNigeriaWebServiceSoap" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx" binding="basicHttpBinding" bindingConfiguration="LiveRequestInvokerSoap" contract="CRCWebService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap" />
      <endpoint address="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx" binding="customBinding" bindingConfiguration="LiveRequestInvokerSoap12" contract="CRCWebService.LiveRequestInvokerSoap" name="LiveRequestInvokerSoap12" />
      <endpoint address="http://ho-bespoke07.nigeria.firstbank.local/FbnAlertWS/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="FbnAlertWS.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="aspnet:RoslynCompilerLocation" value="roslyn" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>