<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XDSNigeriaWebServiceSoap" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                    <security mode="Transport" />
                  <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
                </binding>
                <binding name="XDSNigeriaWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://online.xdscreditbureau.com/XdsNigeriaWebservice/XDSNigeriaWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="XDSNigeriaWebServiceSoap"
                contract="XDSWebService.XDSNigeriaWebServiceSoap" name="XDSNigeriaWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>